<a href="https://colab.research.google.com/github/imamfirdaus-if/Mental-Health-on-Tech-Workplaces/blob/main/treatment_workers_in_the_tech_workplace_who_experience_mental_health_disorders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Analisis Pengaruh Pemberian Perawatan Kesehatan Mental pada Pekerja di Industri Teknologi terhadap Kesehatan Mental menggunakan Algoritma Naive Bayes (Studi kasus: Pekerja Industri Teknologi di Amerika Serikat)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# input data
mentalhealth=pd.read_excel("DataModelling-survey-mental-health-on-tech-workplaces.xlsx")
# Menampilkan data
mentalhealth.head()

,Age,Gender,self_employed,family_history,treatment,work_interfere,3_employees,remote_work,tech_company,benefits,...,a3nymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,18,1,3,3,4,11,16,4,4,3,...,4,22,3,3,8,3,3,3,5,3
1,18,1,3,3,4,9,17,3,4,5,...,5,5,4,3,3,3,3,7,5,3
2,18,1,3,3,3,10,18,3,4,5,...,5,22,3,3,8,8,3,7,4,3
3,19,1,3,3,3,9,16,3,4,5,...,5,5,3,3,8,4,7,7,5,3
4,20,1,3,3,3,10,18,3,4,5,...,5,5,3,3,8,4,7,7,4,3

In [ ]:
# menampilkan informasi data
mentalhealth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        601 non-null    int64
 1   Gender                     601 non-null    int64
 2   self_employed              601 non-null    int64
 3   family_history             601 non-null    int64
 4   treatment                  601 non-null    int64
 5   work_interfere             601 non-null    int64
 6   3_employees                601 non-null    int64
 7   remote_work                601 non-null    int64
 8   tech_company               601 non-null    int64
 9   benefits                   601 non-null    int64
 10  care_options               601 non-null    int64
 11  wellness_program           601 non-null    int64
 12  seek_help                  601 non-null    int64
 13  a3nymity                   601 non-null    int64
 14  leave                      601 non-null    int64
 15  mental_health_consequence  601 non-null    int64
 16  phys_health_consequence    601 non-null    int64
 17  coworkers                  601 non-null    int64
 18  supervisor                 601 non-null    int64
 19  mental_health_interview    601 non-null    int64
 20  phys_health_interview      601 non-null    int64
 21  mental_vs_physical         601 non-null    int64
 22  obs_consequence            601 non-null    int64
dtypes: int64(23)
memory usage: 108.1 KB

In [ ]:
# Mengecek apakah ada deret yang kosong
mentalhealth.empty

False

In [ ]:
# Melihat ukuran dari data
mentalhealth.size

13823

In [ ]:
# Variabel independen
x = mentalhealth.drop(["treatment"], axis = 1)
x.head()

,Age,Gender,self_employed,family_history,work_interfere,3_employees,remote_work,tech_company,benefits,care_options,...,a3nymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,18,1,3,3,11,16,4,4,3,3,...,4,22,3,3,8,3,3,3,5,3
1,18,1,3,3,9,17,3,4,5,3,...,5,5,4,3,3,3,3,7,5,3
2,18,1,3,3,10,18,3,4,5,6,...,5,22,3,3,8,8,3,7,4,3
3,19,1,3,3,9,16,3,4,5,6,...,5,5,3,3,8,4,7,7,5,3
4,20,1,3,3,10,18,3,4,5,6,...,5,5,3,3,8,4,7,7,4,3

In [ ]:
# Variabel dependen
y = mentalhealth["treatment"]
y.head()

0    4
1    4
2    3
3    3
4    3
Name: treatment, dtype: int64

In [ ]:
# Import train_test_split function
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 123)

In [ ]:
# Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
# Mengaktifkan/memanggil/membuat fungsi klasifikasi Naive bayes
modelnb = GaussianNB()
# Memasukkan data training pada fungsi klasifikasi naive bayes
nbtrain = modelnb.fit(x_train, y_train)
nbtrain.class_count_

array([216., 264.])

In [ ]:
# Menentukan hasil prediksi dari x_test
y_pred = nbtrain.predict(x_test)
y_pred

array([4, 3, 4, 4, 3, 3, 4, 4, 3, 4, 4, 4, 3, 3, 4, 3, 4, 3, 4, 4, 4, 3,
       4, 4, 4, 4, 3, 3, 3, 4, 4, 3, 4, 3, 3, 4, 4, 4, 3, 4, 4, 3, 3, 4,
       3, 4, 4, 4, 4, 3, 4, 3, 4, 4, 4, 3, 3, 4, 4, 4, 3, 4, 4, 4, 4, 3,
       4, 4, 4, 4, 3, 3, 4, 3, 4, 3, 4, 4, 4, 3, 3, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 3, 4, 4, 4, 4, 4, 3, 4, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 3,
       4, 4, 3, 3, 3, 3, 3, 4, 4, 4, 4])

In [ ]:
# Menentukan probabilitas hasil prediksi
nbtrain.predict_proba(x_test)

array([[6.46034147e-02, 9.35396585e-01],
       [1.00000000e+00, 3.72885166e-23],
       [6.23026716e-03, 9.93769733e-01],
       [4.51835374e-02, 9.54816463e-01],
       [1.00000000e+00, 1.35350834e-23],
       [1.00000000e+00, 2.65796675e-23],
       [2.44509511e-04, 9.99755490e-01],
       [3.35979981e-03, 9.96640200e-01],
       [1.00000000e+00, 3.61767676e-22],
       [4.64470006e-03, 9.95355300e-01],
       [1.01449034e-01, 8.98550966e-01],
       [4.65159124e-02, 9.53484088e-01],
       [6.75132933e-01, 3.24867067e-01],
       [5.40483682e-01, 4.59516318e-01],
       [1.43565334e-01, 8.56434666e-01],
       [1.00000000e+00, 3.37056190e-22],
       [1.24513433e-01, 8.75486567e-01],
       [1.00000000e+00, 7.21604691e-22],
       [3.02598298e-01, 6.97401702e-01],
       [1.48431463e-02, 9.85156854e-01],
       [2.16133677e-02, 9.78386632e-01],
       [1.00000000e+00, 3.00673009e-20],
       [2.56193724e-02, 9.74380628e-01],
       [2.47659053e-01, 7.52340947e-01],
       [4.77271235e-01, 5.22728765e-01],
       [1.35380892e-01, 8.64619108e-01],
       [5.26187200e-01, 4.73812800e-01],
       [1.00000000e+00, 3.93807680e-24],
       [1.00000000e+00, 3.06318524e-23],
       [4.43584675e-02, 9.55641533e-01],
       [4.31444453e-02, 9.56855555e-01],
       [5.12848995e-01, 4.87151005e-01],
       [2.73586117e-01, 7.26413883e-01],
       [8.70369080e-01, 1.29630920e-01],
       [1.00000000e+00, 2.25981102e-24],
       [4.41636313e-01, 5.58363687e-01],
       [3.08249936e-02, 9.69175006e-01],
       [6.79755768e-02, 9.32024423e-01],
       [1.00000000e+00, 5.30035177e-23],
       [1.51482905e-01, 8.48517095e-01],
       [4.81309028e-01, 5.18690972e-01],
       [1.00000000e+00, 5.28239772e-24],
       [7.27077685e-01, 2.72922315e-01],
       [2.11373868e-01, 7.88626132e-01],
       [1.00000000e+00, 3.25322640e-22],
       [4.86430273e-01, 5.13569727e-01],
       [1.82616710e-01, 8.17383290e-01],
       [2.99419812e-05, 9.99970058e-01],
       [3.26990849e-05, 9.99967301e-01],
       [1.00000000e+00, 1.37969774e-24],
       [9.67858605e-04, 9.99032141e-01],
       [9.58395641e-01, 4.16043588e-02],
       [1.17140224e-04, 9.99882860e-01],
       [2.36731389e-02, 9.76326861e-01],
       [3.23269480e-04, 9.99676731e-01],
       [8.72672412e-01, 1.27327588e-01],
       [1.00000000e+00, 3.63271798e-22],
       [6.31901593e-02, 9.36809841e-01],
       [8.34896569e-02, 9.16510343e-01],
       [1.93968928e-01, 8.06031072e-01],
       [7.32878427e-01, 2.67121573e-01],
       [9.35376497e-05, 9.99906462e-01],
       [1.52399596e-01, 8.47600404e-01],
       [1.41935032e-01, 8.58064968e-01],
       [2.13916005e-04, 9.99786084e-01],
       [9.35152959e-01, 6.48470412e-02],
       [2.25903319e-04, 9.99774097e-01],
       [1.84568317e-02, 9.81543168e-01],
       [4.35413778e-02, 9.56458622e-01],
       [2.99169316e-02, 9.70083068e-01],
       [5.88317106e-01, 4.11682894e-01],
       [1.00000000e+00, 1.89347012e-23],
       [1.49653637e-02, 9.85034636e-01],
       [1.00000000e+00, 5.86481817e-24],
       [4.31129220e-04, 9.99568871e-01],
       [6.11070340e-01, 3.88929660e-01],
       [1.86288390e-04, 9.99813712e-01],
       [6.66642512e-03, 9.93333575e-01],
       [1.12528231e-03, 9.98874718e-01],
       [8.09524534e-01, 1.90475466e-01],
       [1.00000000e+00, 2.80900083e-23],
       [1.72892936e-02, 9.82710706e-01],
       [4.23073511e-01, 5.76926489e-01],
       [3.69615139e-02, 9.63038486e-01],
       [1.72111857e-02, 9.82788814e-01],
       [1.50443324e-02, 9.84955668e-01],
       [1.24481467e-01, 8.75518533e-01],
       [2.51429763e-02, 9.74857024e-01],
       [4.32562423e-02, 9.56743758e-01],
       [1.95517637e-01, 8.04482363e-01],
       [3.17502103e-01, 6.82497897e-01],
       [1.00000000e+00, 3.82010152e-24],
       [1.68255722e-05, 9.99983174e-01],
       [6.22987450e-02, 9.37701255e-01],
       [4.38295910e-01, 5.61704090e-01],
       [5.50538897e-03, 9.94494611e-01],
       [4.08098425e-01, 5.91901575e-01],
       [7.89541061e-01, 2.10458939e-01],
       [2.19310963e-04, 9.99780689e-01],
       [1.00000000e+00, 1.91775236e-22],
       [1.00000000e+00, 3.81871940e-22],
       [3.84842636e-01, 6.15157364e-01],
       [3.81415205e-03, 9.96185848e-01],
       [1.49520509e-05, 9.99985048e-01],
       [1.60467155e-03, 9.98395328e-01],
       [1.43047088e-01, 8.56952912e-01],
       [2.90467132e-02, 9.70953287e-01],
       [3.59462553e-02, 9.64053745e-01],
       [1.04694762e-02, 9.89530524e-01],
       [1.00000000e+00, 2.75903281e-21],
       [2.83721037e-01, 7.16278963e-01],
       [1.41339895e-01, 8.58660105e-01],
       [1.00000000e+00, 1.01300075e-23],
       [1.00000000e+00, 3.96656889e-24],
       [1.00000000e+00, 2.08501752e-24],
       [6.30924969e-01, 3.69075031e-01],
       [1.00000000e+00, 5.80935865e-24],
       [3.64921190e-01, 6.35078810e-01],
       [1.28014646e-02, 9.87198535e-01],
       [8.85291982e-04, 9.99114708e-01],
       [1.87669580e-02, 9.81233042e-01]])

In [ ]:
# import confusion_matrix model
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[32, 22],
       [ 9, 58]])

In [ ]:
# Menghitung nilai akurasi dari klasifikasi naive bayes 
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           3       0.78      0.59      0.67        54
           4       0.72      0.87      0.79        67

    accuracy                           0.74       121
   macro avg       0.75      0.73      0.73       121
weighted avg       0.75      0.74      0.74       121